body {
    background-color: #eee;
    text-align: center;
    margin: 0;
    margin-bottom: 100px;
    font-family: 'PT Sans', 'Arial';
}
a {
    text-decoration: none;
    color: #222;
}
a:hover {
    color: #000;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
#header {
    background-color: #fff;
    padding: 1em;
    padding-bottom: 0.6em;
    text-align: right;
    border-bottom: 0.4em solid #ddd;
}
#header a {
    display: inline-block;
    padding: 1em 1.5em;
    margin: -1em 0em;
    border-bottom: 0.4em solid #ddd;
}
#header a:hover {
    border-color: #444;
    background-color: #fafafa;
}
#header_user_img {
    height: 2em;
    margin: -1.3em 0.5em -0.7em 0em;
}
.header_arrow {
    height: 0.5em;
    margin-left: 0.5em;
}
#profile_options {
    display: inline-block;
    cursor:pointer;
    border-bottom: 0.4em solid #ddd;
    padding: 1em 1.5em;
    margin: -1em 0em;
}
#profile_options:hover {
    border-color: #444;
    background-color: #fafafa;
}
#profile_options_dropdown {
    position: absolute;
    display: none;
    z-index: 10;
    background-color: #fff;
    //border-top: 1px solid #444;
    top: 3.7em;
    right: 1em;
}
#profile_options_dropdown a {
    display: block;
    background-color: #fff;
    margin: 0;
    padding: 1em 3em;
    padding-left: 5em;
}
#profile_options_dropdown a:hover {
    background-color: #fafafa;
}
.sign_in_icon {
    height: 1.5em;
    margin: -1.1em 1.5em -0.4em -2em;
}
.header_sign_in_icon {
    height: 1.2em;
    margin: -0.9em 1em -0.3em 1em;
}
.signed_in_icon {
    height: 0.9em;
    margin: -0.7em 0.3em -0.1em 0.5em;
}
.rev_div_icon {
    height: 0.9em;
    margin: -0.7em 0.3em -0.1em 0em;
}
/*//////////////////////////////*/
.review_div {
    width: 15.5em;
    display: inline-block;
    vertical-align: top;
    height: 27.2em;
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: justify;
    position: relative;
}
.review_div h3 {
    margin: 0;
}
.my_review_div {
    height: 20em;
}
.review_poster_image {
    height: 23.5em;
}
.review_image {
    height: 23.5em;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.review_text {
    height: 20.5em;
    padding: 1.5em;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.review_text_hidden {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.9);
}
.review_user {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.5em 1em;
    text-align: left;
}
.my_review_text {
    height: 70%;
}
.my_review_user {
    height: 12%;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    text-align: left;
}
.my_review_buttons {
    height: 18%;
}
.rev_auth_img {
    height: 2.4em;
    margin-top: 0.1em;
    margin-right: 0.5em;
}
.review_star_icon {
    height: 0.8em;
}
.stars_p {
    font-size: 1.1em;
    margin-top: -0.1em;
}